.box-principal {
    background-color: var(--cinza-escuro);
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 50px;
    border-radius: 15px;

    h2 {
        font-size: 30px;
        font-family: monospace;
     }
}

.box-form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    form {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 200px;

        input {
            margin-bottom: 10px;
            padding: 8px 10px 8px 5px;
            border-radius: 5px;
            border: none;
        }
    }

    p {
        color: var(--black);
        font-size: 12px;
    }
}

.box-button-login {

    display: flex;
    justify-content: end;

    button {
        color: var(--branco);
        background-color: var(--azul-botao);

        display: flex;
        gap: 5px;
        justify-content: center;
        flex-direction: row;
        text-align: center;
        border: none;
        border-radius: 5px;
        padding: 5px 20px;
        font-size: 15px;
        cursor: pointer;

        .icon-CiLogin {
            font-size: 20px;
        }
    }
}

@media screen and (min-width: 1300px) {

    .box-principal {
        max-width: 500px;
        height: 500px;
        gap: 100px;
    
        h2 {
            font-size: 40px;
         }
    }

    .box-form {
        gap: 2px;
    
        form {
            gap: 0px;
            width: 300px;
    
            input {
                margin-bottom: 5px;
                padding: 15px 10px 15px 15px;
                
            }
        }
    
        p {
             font-size: 20px;
        }
    }
    
    .box-button {
    
        button {
            padding: 8px 30px;
            font-size: 25px;
            cursor: pointer;
    
            .icon-CiLogin {
                font-size: 30px;
            }
        }
    }
  }